In [1]:
import pandas as pd

In [2]:
from pathlib import Path

In [3]:
files = [Path('./files/CCTV_in_Seoul.csv'), Path('./files/population_in_Seoul.xls')]

# CSV 파일 읽기

In [4]:
CCTV_Seoul = pd.read_csv(files[0], encoding='utf-8')

In [5]:
CCTV_Seoul.head()

     기관명       소계 2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0  강 남 구   5,221    1,944   195.0  316.0   430     546    765    577    448
1  강 동 구   1,879      303   387.0  134.0    59     144    194    273    385
2  강 북 구   1,265      243    88.0  141.0    74     145    254      1    319
3  강 서 구   1,617      219   155.0  118.0   230     187    190    264    254
4  관 악 구   3,985      430    56.0  419.0   487     609    619    694    671

In [6]:
CCTV_Seoul.columns

Index(['기관명', '소계', '2011년 이전', '2012년', '2013년', '2014년', '2015년', '2016년',
       '2017년', '2018년'],
      dtype='object')

## 컬럼명 바꾸기

In [7]:
CCTV_Seoul.rename(columns={CCTV_Seoul.columns[0]: '구별'}, inplace=True)

In [8]:
CCTV_Seoul.head()

      구별       소계 2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0  강 남 구   5,221    1,944   195.0  316.0   430     546    765    577    448
1  강 동 구   1,879      303   387.0  134.0    59     144    194    273    385
2  강 북 구   1,265      243    88.0  141.0    74     145    254      1    319
3  강 서 구   1,617      219   155.0  118.0   230     187    190    264    254
4  관 악 구   3,985      430    56.0  419.0   487     609    619    694    671

In [9]:
# 다운로드한 원본 엑셀 파일을 CSV 형식으로 변환하면서 1000 단위 이상의 값에 ,(콤마)가 추가 되었다.
# 일부 컬럼에 콤마와 좌우 공백을 제거하는 로직을 적용하였다.
import re

CCTV_Seoul['소계'] = CCTV_Seoul['소계'].str.replace(re.compile(r'[,\s]+'), '')
CCTV_Seoul['2011년 이전'] = CCTV_Seoul['2011년 이전'].str.replace(re.compile(r'[,\s]+'), '')
CCTV_Seoul['2014년'] = CCTV_Seoul['2014년'].str.replace(re.compile(r'[,\s]+'), '')

CCTV_Seoul.iloc[:, 1:] = CCTV_Seoul.iloc[:, 1:].astype(float)

# Excel 파일 읽기

In [10]:
pop_Seoul = pd.read_excel(files[1], encoding='utf-8', header=2, usecols='B, D, G, J, N')

In [11]:
pop_Seoul.head()

   자치구         계      계.1     계.2  65세이상고령자
0   합계  10041574  9757144  284430   1451564
1  종로구    162413   152026   10387     27155
2   중구    136276   126143   10133     22749
3  용산구    245069   229122   15947     38259
4  성동구    312991   304936    8055     43370

## 컬럼명 바꾸기

In [12]:
pop_Seoul.rename(columns={
    pop_Seoul.columns[0]: '구별',
    pop_Seoul.columns[1]: '인구수',
    pop_Seoul.columns[2]: '한국인',
    pop_Seoul.columns[3]: '외국인',
    pop_Seoul.columns[4]: '고령자'
}, inplace=True)

In [13]:
pop_Seoul.head()

    구별       인구수      한국인     외국인      고령자
0   합계  10041574  9757144  284430  1451564
1  종로구    162413   152026   10387    27155
2   중구    136276   126143   10133    22749
3  용산구    245069   229122   15947    38259
4  성동구    312991   304936    8055    43370

# Pandas 기초
### DataFrame과 Series 만들기
DataFrame은 엑셀에서 볼 수 있는 시트(Sheet)와 동일한 개념이며, Series는 시트의 열 1개를 의미한다.

In [14]:
import numpy as np

In [15]:
# Series 만들기
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [16]:
# 날짜형 Series 만들기
dates = pd.date_range('20191001', periods=6)
dates

DatetimeIndex(['2019-10-01', '2019-10-02', '2019-10-03', '2019-10-04',
               '2019-10-05', '2019-10-06'],
              dtype='datetime64[ns]', freq='D')

In [17]:
# DataFrame 만들기
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=['A', 'B', 'C', 'D'])
df

                   A         B         C         D
2019-10-01 -0.338032  2.090599 -0.394436  0.741596
2019-10-02  0.810601  0.959838 -0.385918  0.067912
2019-10-03  0.076893 -0.346327  1.747245 -0.968444
2019-10-04  1.054219  1.035062 -0.797989  1.333011
2019-10-05 -0.462893  0.133207 -0.321904 -0.285196
2019-10-06 -0.773012  1.071385  0.051142 -1.261353

In [18]:
df.head(3)

                   A         B         C         D
2019-10-01 -0.338032  2.090599 -0.394436  0.741596
2019-10-02  0.810601  0.959838 -0.385918  0.067912
2019-10-03  0.076893 -0.346327  1.747245 -0.968444

In [19]:
df.index

DatetimeIndex(['2019-10-01', '2019-10-02', '2019-10-03', '2019-10-04',
               '2019-10-05', '2019-10-06'],
              dtype='datetime64[ns]', freq='D')

In [20]:
df.values

array([[-0.33803231,  2.09059919, -0.39443565,  0.74159598],
       [ 0.81060109,  0.95983832, -0.38591756,  0.06791196],
       [ 0.07689285, -0.34632682,  1.74724496, -0.9684445 ],
       [ 1.0542192 ,  1.03506196, -0.7979893 ,  1.33301083],
       [-0.46289344,  0.1332066 , -0.32190361, -0.28519612],
       [-0.77301248,  1.07138523,  0.05114244, -1.26135292]])

In [21]:
# DataFrame 개요
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2019-10-01 to 2019-10-06
Freq: D
Data columns (total 4 columns):
A    6 non-null float64
B    6 non-null float64
C    6 non-null float64
D    6 non-null float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [22]:
# 통계적 개요 확인
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.061296  0.823961 -0.016976 -0.062079
std    0.731834  0.845616  0.905392  0.991827
min   -0.773012 -0.346327 -0.797989 -1.261353
25%   -0.431678  0.339865 -0.392306 -0.797632
50%   -0.130570  0.997450 -0.353911 -0.108642
75%    0.627174  1.062304 -0.042119  0.573175
max    1.054219  2.090599  1.747245  1.333011

In [23]:
# 특정 컬럼 기준으로 정렬하기
df.sort_values(by='B', ascending=False)

                   A         B         C         D
2019-10-01 -0.338032  2.090599 -0.394436  0.741596
2019-10-06 -0.773012  1.071385  0.051142 -1.261353
2019-10-04  1.054219  1.035062 -0.797989  1.333011
2019-10-02  0.810601  0.959838 -0.385918  0.067912
2019-10-05 -0.462893  0.133207 -0.321904 -0.285196
2019-10-03  0.076893 -0.346327  1.747245 -0.968444

In [24]:
# dates 변수를 이용해서 특정 날짜의 데이터만 보고 싶으면 `df.loc` 명령을 사용
df.loc[dates[0]]

A   -0.338032
B    2.090599
C   -0.394436
D    0.741596
Name: 2019-10-01 00:00:00, dtype: float64

In [25]:
# `loc` 명령과 달리 행과 열 번호를 이용해서 데이터에 바로 접근하고 싶을 때 `df.iloc` 명령을 사용
df.iloc[3]

A    1.054219
B    1.035062
C   -0.797989
D    1.333011
Name: 2019-10-04 00:00:00, dtype: float64

In [26]:
df.iloc[3:5, 1:4]

                   B         C         D
2019-10-04  1.035062 -0.797989  1.333011
2019-10-05  0.133207 -0.321904 -0.285196

In [27]:
# DataFrame 복사
df2 = df.copy()
df2.head(3)

                   A         B         C         D
2019-10-01 -0.338032  2.090599 -0.394436  0.741596
2019-10-02  0.810601  0.959838 -0.385918  0.067912
2019-10-03  0.076893 -0.346327  1.747245 -0.968444

In [28]:
# 새로운 컬럼에 데이터 추가
df['E'] = ['one', 'one', 'two', 'three', 'four', 'tree']

In [29]:
# 컬럼에 값이 있는지 확인
df['E'].isin(['two', 'four'])

2019-10-01    False
2019-10-02    False
2019-10-03     True
2019-10-04    False
2019-10-05     True
2019-10-06    False
Freq: D, Name: E, dtype: bool

In [30]:
# DataFrame에 함수 적용하기
# df.apply(lambda x: x.max() - x.min())
df.drop('E', axis=1, inplace=True)
df.apply(lambda x: x.max() - x.min())

A    1.827232
B    2.436926
C    2.545234
D    2.594364
dtype: float64

# 🐱 CCTV와 인구 현황 데이터 파악하기

In [31]:
CCTV_Seoul.head()

      구별      소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0  강 남 구  5221.0    1944.0  195.0  316.0  430.0  546.0  765.0  577.0  448.0
1  강 동 구  1879.0     303.0  387.0  134.0   59.0  144.0  194.0  273.0  385.0
2  강 북 구  1265.0     243.0   88.0  141.0   74.0  145.0  254.0    1.0  319.0
3  강 서 구  1617.0     219.0  155.0  118.0  230.0  187.0  190.0  264.0  254.0
4  관 악 구  3985.0     430.0   56.0  419.0  487.0  609.0  619.0  694.0  671.0

## 최근 3년간 CCTV 증가율 계산

In [32]:
CCTV_Seoul['최근증가율'] = (
    (CCTV_Seoul['2016년'] + CCTV_Seoul['2017년'] + CCTV_Seoul['2018년']) / 
    (CCTV_Seoul['2015년'] + CCTV_Seoul['2014년'] + CCTV_Seoul['2013년'] + CCTV_Seoul['2012년'] + CCTV_Seoul['2011년 이전'])
) * 100

In [34]:
CCTV_Seoul.sort_values(by='최근증가율', ascending=False)

,구별,소계,2011년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,최근증가율
23,중 구,1544.0,25.0,165.0,114.0,80.0,245.0,270.0,317.0,328.0,145.468998
19,영등포구,2495.0,132.0,121.0,206.0,217.0,366.0,289.0,371.0,793.0,139.443378
15,성 동 구,2679.0,665.0,109.0,118.0,101.0,258.0,201.0,933.0,294.0,114.148681
7,금 천 구,1634.0,27.0,17.0,242.0,101.0,382.0,136.0,199.0,530.0,112.483745
5,광 진 구,1581.0,470.0,42.0,83.0,87.0,64.0,21.0,468.0,346.0,111.930295
4,관 악 구,3985.0,430.0,56.0,419.0,487.0,609.0,619.0,694.0,671.0,99.150425
12,마 포 구,1935.0,585.0,108.0,69.0,70.0,177.0,359.0,372.0,195.0,91.774034
18,양 천 구,2775.0,772.0,161.0,185.0,169.0,172.0,349.0,137.0,830.0,90.198766
2,강 북 구,1265.0,243.0,88.0,141.0,74.0,145.0,254.0,1.0,319.0,83.068017
1,강 동 구,1879.0,303.0,387.0,134.0,59.0,144.0,194.0,273.0,385.0,82.960078
11,동 작 구,1780.0,238.0,93.0,29.0,503.0,130.0,254.0,278.0,255.0,79.254783
16,성 북 구,3003.0,779.0,84.0,304.0,241.0,279.0,388.0,285.0,643.0,78.008299
3,강 서 구,1617.0,219.0,155.0,118.0,230.0,187.0,190.0,264.0,254.0,77.887789
6,구 로 구,3227.0,852.0,219.0,349.0,187.0,268.0,326.0,540.0,486.0,72.106667
13,서대문구,2121.0,565.0,233.0,214.0,114.0,109.0,277.0,415.0,194.0,71.740891
9,도 봉 구,858.0,197.0,66.0,8.0,185.0,59.0,155.0,117.0,71.0,66.601942
17,송 파 구,1586.0,600.0,99.0,88.0,21.0,166.0,100.0,116.0,396.0,62.833676
22,종 로 구,1471.0,8.0,7.0,599.0,132.0,195.0,148.0,281.0,101.0,56.323061
14,서 초 구,2835.0,1172.0,91.0,228.0,134.0,215.0,352.0,247.0,396.0,54.076087
0,강 남 구,5221.0,1944.0,195.0,316.0,430.0,546.0,765.0,577.0,448.0,52.171379
21,은 평 구,2962.0,1365.0,83.0,99.0,343.0,180.0,296.0,229.0,367.0,43.091787
8,노 원 구,1906.0,481.0,117.0,203.0,80.0,461.0,298.0,110.0,156.0,42.026826
20,용 산 구,2063.0,1279.0,152.0,201.0,107.0,102.0,89.0,60.0,73.0,12.058664
10,동대문구,2003.0,NaN,NaN,NaN,1326.0,111.0,233.0,136.0,197.0,NaN
24,중 랑 구,1068.0,NaN,NaN,NaN,770.0,102.0,121.0,66.0,9.0,NaN

## 인구 현황 데이터 살펴보기

In [35]:
pop_Seoul.head()

    구별       인구수      한국인     외국인      고령자
0   합계  10041574  9757144  284430  1451564
1  종로구    162413   152026   10387    27155
2   중구    136276   126143   10133    22749
3  용산구    245069   229122   15947    38259
4  성동구    312991   304936    8055    43370

In [36]:
pop_Seoul['구별'].unique()

array(['합계', '종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구',
       '강북구', '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구',
       '금천구', '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구'],
      dtype=object)

In [38]:
pop_Seoul.drop(0, inplace=True)

In [39]:
pop_Seoul.head()

    구별     인구수     한국인    외국인    고령자
1  종로구  162413  152026  10387  27155
2   중구  136276  126143  10133  22749
3  용산구  245069  229122  15947  38259
4  성동구  312991  304936   8055  43370
5  광진구  369470  353878  15592  46773

## 외국인 비율과 고령자 비율 계산하기

In [41]:
pop_Seoul['외국인비율'] = pop_Seoul['외국인'] / pop_Seoul['인구수'] * 100
pop_Seoul['고령자비율'] = pop_Seoul['고령자'] / pop_Seoul['인구수'] * 100
pop_Seoul.head()

    구별     인구수     한국인    외국인    고령자     외국인비율      고령자비율
1  종로구  162413  152026  10387  27155  6.395424  16.719721
2   중구  136276  126143  10133  22749  7.435645  16.693328
3  용산구  245069  229122  15947  38259  6.507147  15.611522
4  성동구  312991  304936   8055  43370  2.573556  13.856628
5  광진구  369470  353878  15592  46773  4.220099  12.659485

In [43]:
# 인구수 정렬
pop_Seoul.sort_values(by='인구수', ascending=False).head()

     구별     인구수     한국인    외국인    고령자     외국인비율      고령자비율
24  송파구  686181  679247   6934  84740  1.010521  12.349511
16  강서구  602230  595602   6628  81965  1.100576  13.610249
23  강남구  547602  542498   5104  69011  0.932064  12.602401
11  노원구  542603  538350   4253  79046  0.783814  14.567925
21  관악구  519864  502089  17775  73693  3.419163  14.175438

In [44]:
# 외국인 정렬
pop_Seoul.sort_values(by='외국인', ascending=False).head()

      구별     인구수     한국인    외국인    고령자     외국인비율      고령자비율
19  영등포구  404229  369017  35212  56891  8.710904  14.073953
17   구로구  439328  405415  33913  64028  7.719289  14.574077
18   금천구  254061  234079  19982  36727  7.865040  14.455977
21   관악구  519864  502089  17775  73693  3.419163  14.175438
6   동대문구  363101  346501  16600  58078  4.571731  15.994999

In [46]:
# 외국인 비율
pop_Seoul.sort_values(by='외국인비율', ascending=False).head()

      구별     인구수     한국인    외국인    고령자     외국인비율      고령자비율
19  영등포구  404229  369017  35212  56891  8.710904  14.073953
18   금천구  254061  234079  19982  36727  7.865040  14.455977
17   구로구  439328  405415  33913  64028  7.719289  14.574077
2     중구  136276  126143  10133  22749  7.435645  16.693328
3    용산구  245069  229122  15947  38259  6.507147  15.611522

In [47]:
# 고령자 정렬
pop_Seoul.sort_values(by='고령자', ascending=False).head()

     구별     인구수     한국인    외국인    고령자     외국인비율      고령자비율
24  송파구  686181  679247   6934  84740  1.010521  12.349511
16  강서구  602230  595602   6628  81965  1.100576  13.610249
12  은평구  488285  483730   4555  79282  0.932857  16.236829
11  노원구  542603  538350   4253  79046  0.783814  14.567925
21  관악구  519864  502089  17775  73693  3.419163  14.175438

In [48]:
# 고령자 비율 정렬
pop_Seoul.sort_values(by='고령자비율', ascending=False).head()

     구별     인구수     한국인    외국인    고령자     외국인비율      고령자비율
9   강북구  319377  315587   3790  59189  1.186685  18.532643
10  도봉구  339001  336698   2303  57367  0.679349  16.922369
1   종로구  162413  152026  10387  27155  6.395424  16.719721
2    중구  136276  126143  10133  22749  7.435645  16.693328
12  은평구  488285  483730   4555  79282  0.932857  16.236829